<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="input">
            <form action="/login-for-student" method="POST">
                <input type="text" name="username" placeholder="Enter your username...">
                <input type="text" name="password" placeholder="Enter your password...">
                <input type="submit" name="submit" value="login">
            </form>
        </div>
    </div>
</body>
</html>